<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Assignment Test Automation Test Suite">
	<test name="Assignment Test Cases">
		<classes>
			<class name="com.assignment.qa.testcases.HomePageTest"></class>
			<class name="com.assignment.qa.testcases.SearchResultPageTest"></class>
			<class name="com.assignment.qa.testcases.FifthPropertyPageTest"></class>

		</classes>
	</test>
</suite>